*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body{
    min-height: 100vh;
    min-width: 100vh;
    display: flex;/*生成一个flex的框*/
    background-color: rgb(162, 59, 59);
    background-image: 
    radial-gradient(closest-side,rgb(255, 60, 60,1),rgba(235,205,78,0)),
    radial-gradient(closest-side,rgb(143, 255, 151,1),rgba(235,205,78,0)),
    radial-gradient(closest-side,rgb(135, 253, 247,1),rgba(235,205,78,0)),
    radial-gradient(closest-side,rgb(135, 99, 255),rgba(235,205,78,0)),
    radial-gradient(closest-side,rgb(255, 148, 148,1),rgba(235,205,78,0));
    background-size:
    130vmax 130vmax,
    80vmax 80vmax,
    90vmax 90vmax,
    110vmax 110vmax,
    90vmax 90vmax;
    background-position:
    -80vmax -80vmax,
    60vmax -30vmax,
    10vmax 10vmax,
    -30vmax -10vmax,
    50vmax 50vmax;
    background-repeat: no-repeat;
    animation: 15s bgmove linear infinite;
}
@keyframes bgmove{
    0%,100%{
        background-size:
        130vmax 130vmax,
        80vmax 80vmax,
        90vmax 90vmax,
        110vmax 110vmax,
        90vmax 90vmax;
    background-position:
        -80vmax -80vmax,
        60vmax -30vmax,
        10vmax 10vmax,
        -30vmax -10vmax,
        50vmax 50vmax;
    }
    25%{
    background-size:
        70vmax 70vmax,
        120vmax 120vmax,
        70vmax 70vmax,
        100vmax 100vmax,
        80vmax 80vmax;
    background-position:
        -70vmax -70vmax,
        70vmax -70vmax,
        30vmax 30vmax,
        -40vmax -10vmax,
        40vmax 40vmax;
    }
    50%{
        background-size:
            110vmax 110vmax,
            60vmax 60vmax,
            900vmax 90vmax,
            80vmax 80vmax,
            60vmax 60vmax;
        background-position:
            -60vmax -60vmax,
            60vmax -60vmax,
            -50vmax -40vmax,
            -40vmax -40vmax,
            30vmax 30vmax;
    }
    75%{
        background-size:
            120vmax 120vmax,
            70vmax 70vmax,
            70vmax 70vmax,
            100vmax 100vmax,
            80vmax 80vmax;
        background-position:
            -70vmax -70vmax,
            30vmax 30vmax,
            -70vmax -70vmax,
            40vmax 10vmax,
            -40vmax -40vmax;
    }
}






.container{
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;        /*灵活的项目在必要的时候拆行或拆列*/
    z-index:1;             /*图层上移一层*/
}                
.container .card{
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 350px;
    margin:30px;/*外边框大小）*/
    padding:10px 5px 15px;/*内边框大小*/
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);/*下拉阴影*/
    border-radius: 15px;/*圆角*/
    overflow:hidden;/*内容溢出卡片会怎样*/
    display: flex;
    background-color:rgba(255,255,255,0.1);
    border-top: rgba(255,255,255,0.5) 1px solid;/*设置上边框属性*/
    border-left: rgba(255,255,255,0.5) 1px solid;/*设置左边框属性*/
    backdrop-filter: blur(7px);/*背景透明模糊*/
    
    
}



.container .card .content{
    color: white;
    padding: 20px 10px 20px 10px;
}

.container .card .content h1{
    position:absolute;
    top: -30px;
    left: 10px;
    font-size: 9em;
    color: rgba(255,255,255,0.3);
    pointer-events: none;
}


.container .card .content h2{
    font-size: 3em;
    font-weight: 400;
    text-align: center;
    transition: 0.5s;
    transform: translateY(160px);
    opacity: 1;/*透明程度*/
}
/*hover：鼠标放上去后发生以下事情*/
.container .card:hover .content h2{
    transform: translateY(0px);
    opacity: 0;/*透明*/
}




.container .card .content h3{
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    transition: 0.5s;
    transform: translateY(50px);
    opacity: 0;/*不透明*/
}
/*hover：鼠标放上去后发生以下事情*/
.container .card:hover .content h3{
    transform: translateY(-25px);
    opacity: 1;/*透明*/
}












                                                /* 右边导航栏 */

.navbar,
.navbar ul{
    position: absolute;
    right: 0;
    justify-content: center;
    align-items: center;
}

/* 白框框 */
.navbar{
    position: absolute;
    padding: 10px;
    border-radius: 50px;
    background-color: white;
    text-align: center;
}
.navbar ul{
    position: relative;
    width:0;
    height: 8px;
    /* height: 0; */
    overflow: hidden;
    /* 让文字都横向排版不是竖向 */
    white-space: nowrap;
    transition: all 0.25s;
    margin: -5px;
}
/* ：checked当选中的复选框的时候，~是兄弟选择器  查找同一级的ul */
.navbar input:checked ~ ul{
    height: 350px;
    width: 100px;
}





.navbar input{
    position: relative;
    left: auto;
    right: auto;
    width: 30px;
    height:30px;
    /* 鼠标变小手 */
    cursor: pointer;
    opacity: 0;
}




/* 灰杠杠 */
.navbar span{
    position: absolute;
    right: 10px;
    height: 5px;
    width: 30px;
    border-radius: 15px;
    background-color: #999;
    pointer-events: none;
    transition: transform 0.1s ease-in-out, top 0.1s
    ease-in-out 0.1s;
}
.navbar span:nth-child(3){/* 第二条灰线在navbar元素内第三个位置所以（3） */
    top:calc(35px);
}





.navbar ul li{
    margin: auto;
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    font-size:20px;
    font-weight: 700;
    color: #333;
}
.navbar ul li a:hover{
    color:#fb7299;
}





/* 红叉叉 */
.navbar input:checked~ span:nth-child(2){
    top: calc(6%);
    left: calc(35%);
    transform:rotate(45deg);
    background-color: #fb7299;
    transition:top 0.1s ease-in-out, transform 0.1s
    ease-in-out 0.1s;
}
.navbar input:checked~ span:nth-child(3){
    top: calc(6%);
    left: calc(35%);
    transform:rotate(-45deg);
    background-color:#fb7299;
    transition:top 0.1s ease-in-out, transform 0.1s
    ease-in-out 0.1s;
}
