*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
#web-bg{
    position: fixed;                /*绝对位置*/
    top: 0px;                         /*最上*/
    left: 0px;                        /*最左*/
    width: 100%;                    /*左右充满*/
    height: 100%;                   /*上下充满*/
    z-index: -10;                   /*图层最底*/
}


body{
    display: flex;/*生成一个flex的框*/
    justify-content: center;
    align-items: center;
}
.container{
    position: absolute;     /*相对位置*/
    justify-content: center;/*在主轴（横轴）方向上居中对齐*/
    align-items: center;    /*在纵轴方向居中对齐*/
    top: 20%;
    bottom: 20%;
    display: flex;
    flex-wrap: wrap;        /*灵活的项目在必要的时候拆行或拆列*/
    z-index:0;             /*图层上移一层*/
    
}                
.container .card{
    position: relative;
    width: 250px;
    height: 350px;
    margin:1em;/*外边框大小）*/
    padding:10px 5px 15px;/*内边框大小*/
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);/*下拉阴影*/
    border-radius: 15px;/*圆角*/
    background-color:rgba(255,255,255,0.1);
    overflow:hidden;/*内容溢出卡片会怎样*/
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: rgba(255,255,255,0.5) 1px solid;/*设置上边框属性*/
    border-left: rgba(255,255,255,0.5) 1px solid;/*设置左边框属性*/
    backdrop-filter: blur(3px);/*背景透明模糊*/
    
}



.container .card .content{
    color: white;
    padding: 20px 10px 20px 10px;
}

.container .card .content h1{
    position:absolute;
    top: -30px;
    left: 10px;
    font-size: 9em;
    color: rgba(255,255,255,0.3);
    pointer-events: none;
}


.container .card .content h2{
    font-size: 3em;
    font-weight: 400;
    text-align: center;
    transition: 0.5s;
    transform: translateY(160px);
    opacity: 1;/*透明程度*/
}
/*hover：鼠标放上去后发生以下事情*/
.container .card:hover .content h2{
    transform: translateY(0px);
    opacity: 0;/*透明*/
}




.container .card .content h3{
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    transition: 0.5s;
    transform: translateY(50px);
    opacity: 0;/*不透明*/
}
/*hover：鼠标放上去后发生以下事情*/
.container .card:hover .content h3{
    transform: translateY(-25px);
    opacity: 1;/*透明*/
}



                                                /* 右边导航栏 */


.container2{
    position: absolute;     /*相对位置*/
    display: flex;
    top: 50%;
    justify-content:right;/*在主轴（横轴）方向上右对齐*/
    align-items: center;    /*在纵轴方向居中对齐*/
    flex-wrap: wrap;        /*灵活的项目在必要的时候拆行或拆列*/
    z-index: 2;
}                

.container2 .card2{
    width: 10px;
    height: 150px;
    position: fixed; 
    right:0; 
    text-align: center; 
    border-radius: 15px;/*圆角*/
    background-color:rgba(255, 255, 255, 0.146);
    overflow:hidden;/*内容溢出卡片会怎样*/
}

.container2 .card2:hover{
    border:1px solid #000000;
    width: auto;
    height: auto;
    padding:10px 5px 15px;/*内边框大小*/
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);/*下拉阴影*/
    border-radius: 15px;/*圆角*/
    background-color:rgba(255, 255, 255, 0);
    display: flex;
    border-top: rgba(255,255,255,0.5) 1px solid;/*设置上边框属性*/
    border-left: rgba(255,255,255,0.5) 1px solid;/*设置左边框属性*/
    backdrop-filter: blur(3px);/*背景透明模糊*/
    transition: 0.15s;
}






.container2 .card2 .guide{
    opacity: 0;
}
.container2 .card2:hover .guide{
    opacity: 1;
    color: white;
    font-weight: 300;
    text-align: center;
    width: 100%;
    height: 100%;
}
.me{
    border:1px solid #a4a4a442;
    width: 100%;
    box-shadow: 20px 20px 50px rgba(255, 255, 255, 0.2);/*下拉阴影*/
    border-radius: 15px;/*圆角*/
    padding:10px 30px;
    margin: 10px 0px;
}
.masterpiece{
    border:1px solid #a4a4a442;
    width: 100%;
    box-shadow: 20px 20px 50px rgba(255, 255, 255, 0.2);/*下拉阴影*/
    border-radius: 15px;/*圆角*/
    padding:10px 30px;
    margin: 10px 0px;
}
.contact{
    border:1px solid #a4a4a442;
    width: 100%;
    box-shadow: 20px 20px 50px rgba(255, 255, 255, 0.2);/*下拉阴影*/
    border-radius: 15px;/*圆角*/
    padding:10px 30px;
    margin: 10px 0px;
}