* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 200vh;
    background: #554377;
}

/* 顶部导航栏 */
nav {
    overflow-x: hidden;
    position: absolute;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    z-index: 99;
    transition: 0.8s;
    justify-content: center;
    align-items: center;
    transform: 0.8s;
}

nav.sticky {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background: #55437700;
    transition: 0.8s;
}

nav ul {
    position: relative;
    background: #9d68ffb5;
    border-radius: 15px;
    width: auto;
}

nav.sticky ul {
    height: auto;
    background: #9d68ffb5;
    overflow-y: hidden;
}


#logo {
    position: relative;
    width: 10.5vw;
    cursor: pointer;
    transform: 0.8s;
}

img#logo.sticky {
    display: none;
}


nav ul a {
    text-decoration: none;
    display: inline-block;
    font-weight: bolder;
    list-style: none;
    margin: 10px 30px;
    color: #ffffffac;
    cursor: pointer;
    font-size: 1.5vw;
}

nav.sticky ul a {
    text-decoration: none;
    transform: 0.8s;
}
#intern{
    font-size: 2vw;
    color: #ffffff;
}






/* ------------背景------------- */



/* 滚轮视差背景设置 */
section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

section:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to top, #554377, transparent);
    z-index: 2;
}

/* section:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #554377;
    mix-blend-mode: color;
} */

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
}


#sky {
    z-index:-1;
}
#mountain {
    z-index:-1;
}
#house {
    z-index:-1;
}
#treeL {
    z-index: 0;
    
}
#tree {
    z-index: 1;
}





/*Work experence*/
#bigtitle {
    top: 0;
    padding-top: 10vw;
    position: absolute;
    color: #ffffff;
    font-size: 13vw;
    /* filter: blur(1px); */
    display: inline;
    font-family: fira code;
    animation: animate 1s linear infinite;
    z-index: 2;
}
/*大字的闪光灯效果*/
/* @keyframes animate {
    0%,100%{
        color: #554377;
        filter: blur(2px);
        text-shadow: 0 0 10px#f7f7f7,
        0 0 20px#f7f7f7,
        0 0 50px#f7f7f7,
        0 0 1000px#f7f7f7,
        0 0 200px#f7f7f7,
        0 0 300px#f7f7f7;
    }
    30%,100%{
        color: #8069fe;
        filter: blur(0px);
    }
} */





/* -------------------------页面元素----------------------- */

/* 第一段 */
div {
    width: 90%;height: 100%;margin: 5%;
    /* border:1px solid rgb(0, 0, 0); */


    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}
/* 内容 */
div h1 {
    /* border:1px solid rgb(2, 178, 254); */



    text-align: center;
    font-size: 2vw;
    color: rgb(255, 255, 255);
    overflow: hidden;
    position: relative;
    width: 40%;
}
div h2 {
    /* border:1px solid rgb(2, 254, 48); */


    color: rgb(255, 254, 255);
    font-size: 1.5vw;
    margin: 0px 0px 0px 2%;
    padding: 15px 15px;
    overflow: hidden;
    position: relative;
    width: 60%;
    background-color: #00000022;
    border-radius: 25px;
}
